
.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 500ms;
}

.tarefas li:hover {
  background-color: #e0e0e0;
}

.check {
  font-size: 18px;
  cursor: pointer;
  color: #00e41e;
}

.check:hover {
  color: #01b318;
}

.edit {
  font-size: 18px;
  cursor: pointer;
  color: #51c5de;
}

.edit:hover {
  color: #018fd1 ;
}

.delete {
  font-size: 18px;
  cursor: pointer;
  color: #f04c64;
}

.delete:hover {
  color: #c0001d;
}

.col-5 {
  display: flex;
}

select:hover {
  border: 1px solid #8d8d8d;
}

select:focus {
  border: 1px solid #000000;
}
